{% extends 'service/base.html' %}
{% load static %}


{% block content %}

<div class="about" style="padding: 15px;">
    <h1 style="font-size: 3rem; text-align:center;">Okey master</h1>
    <p style="font-size:1.2rem;">Привет, меня зовут Ольга и я такой же nail мастер, как и вы. В этой профессии я более 8
        лет и постоянно слежу за
        новинками в нашей индустрии.
    </p>

    <p style="font-size:1.2rem;">
        Вы видите, какое большое количество новых товаров появилось. Чтобы найти для себя идеальный материал и
        оборудование, приходится изучать множество источников, проводить анализ отзывов и искать, где купить по выгодной
        цене. У меня возникла идея создать пространство, где любой мастер с лёгкостью бы нашёл ответы на все вопросы. А
        производители могли видеть реальный спрос и создавать свою продукцию в соответствии с потребностями мастеров.
    </p>

    <p style="font-size:1.2rem;">
        Предлагаю вам присоединиться к нашему профессиональному сообществу и
        <a href="{% url 'register' %}">зарегистрироваться</a>
        прямо сейчас.
    </p>
</div>
{% endblock %}