{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" href="{% static 'service/css/styles.css' %}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'service/images/main.ico' %}" type="image/x-icon"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign=top>
            {% block mainmenu %}
            <div class="header">

                <ul id="mainmenu" class="mainmenu">
                    <li class="logo"><a href="/"><div class="logo"></div></a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="/">Бренды</a></li>
                    {% endif %}

                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                            style="color:#82c8f0; font-size:15px; overflow: hidden; height: 60px; background:#3F4137; border:none;"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">Гель-лаки
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" style="color:black; " href="#">База</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Топ</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Цветной гель-лак</a></li>
                    </ul>
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                            style="color:#82c8f0; font-size:15px; overflow: hidden; height: 60px; background:#3F4137; border:none;"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">Наращивание и моделирование
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" style="color:black; " href="#">Гелевая система</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Полигель/акригель</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Акриловая система</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Формы и типсы</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Сопутствующие материалы</a></li>
                    </ul>
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                            style="color:#82c8f0; font-size:15px; overflow: hidden; height: 60px; background:#3F4137; border:none;"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">Dip система/Дизайн ногтей
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" style="color:black; " href="#">Блестки</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Стемпинг дизайн</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Втирка</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Гель краска</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Кисти дизайна</a></li>
                    </ul>
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                            style="color:#82c8f0; font-size:15px; overflow: hidden; height: 60px; background:#3F4137; border:none;"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">Уход за руками
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" style="color:black; " href="#">Масло для кутикулы</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Крем для рук</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#"></a>Парафинотерапия</li>
                        <li><a class="dropdown-item" style="color:black; " href="#"></a>Воск для кутикулы</li>
                        <li><a class="dropdown-item" style="color:black; " href="#"></a>Средство для удаления кутикулы</li>
                    </ul>
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                            style="color:#82c8f0; font-size:15px; overflow: hidden; height: 60px; background:#3F4137; border:none;"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">Уход за ногами
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" style="color:black; " href="#">Крем для ног</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Дезодорирующие средства</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Педикюрные ванны</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Масло для ногтей</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Спец. средства</a></li>
                    </ul>
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                            style="color:#82c8f0; font-size:15px; overflow: hidden; height: 60px; background:#3F4137; border:none;"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">Инструменты
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" style="color:black; " href="#">Пилки основы и файлы для них</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Ножницы</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Щипцы и кусачки</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Пушеры</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Тампонодержатель (кюретки)</a></li>
                        <li><a class="dropdown-item" style="color:black; " href="#">Диски и файлы сменные</a></li>
                    </ul>
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                            style="color:#82c8f0; font-size:15px; overflow: hidden; height: 60px; background:#3F4137; border:none;"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">Прочее
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" style="color:black; " href="#"></a></li>
                    </ul>


                    {% if request.user.is_authenticated %}
                    <li class="last">{{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
                    {% else %}
                    <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a
                            href="{% url 'login' %}">Войти</a></li>
                    {% endif %}

                </ul>
                <div class="clear"></div>
            </div>
            {% endblock mainmenu %}


            <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                <tr>


                    <!-- Sidebar слева -->

                    <!-- Конец Sidebar'а -->


                    <td valign="top" class="content">
                        <!-- Хлебные крошки -->
                        {% block breadcrumbs %}
                        {% endblock %}

                        <!-- Блок контента -->
                        <div class="content-text">
                            {% block content %}
                            {% endblock %}
                        </div>
                        <!-- Конец блока контента -->

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Footer -->
    <tr>
        <td valign=top>
            <div id="footer">
                <p>&copy; 2023 Частичное или полное копирование информации с данного сайта для распространения на других
                    ресурсах, в том числе и бумажных, строго запрещено.</p>
            </div>
        </td>
    </tr>
</table>
<!-- Конец footer'а и страницы -->
</body>
</html>
