{% load static %}
{% load service_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" href="{% static 'service/css/styles.css' %}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'service/images/main.ico' %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}

    {% endblock head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign=top>
            {% block mainmenu %}
            <div class="header">



                <ul id="mainmenu" class="mainmenu">
                    <div class="header__burger">
                        <span></span>
                    </div>
                    <a href="{% url 'home' %}">
                     <button class="btn btn-success "
                            type="button"
                            id="multiSelectDropdown"
                            aria-expanded="false"
                            style="background-color: transparent;">
                        Главная
                    </button>
                    </a>
                    <button class="btn dropdown-toggle"
                            type="button"
                            id="multiSelectDropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            style="">
                        Бренды
                    </button>
                    <ul class="dropdown-menu "
                        aria-labelledby="multiSelectDropdown"
                        style=" max-height:350px; overflow:auto; width: 250px; position: relative; ">
                        {% get_trademark as trademarks %}
                        {% for trademark in trademarks %}
                        <ul style="margin-left:10px; ">
                            <a href="{% url 'trademark_detail' slug=trademark.url %}" style=" color: black; ">
                                {{ trademark.title }}</a>
                        </ul>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'article_list' %}">
                     <button class="btn btn-success "
                            type="button"
                            id="multiSelectDropdown"
                            aria-expanded="false"
                            style="">
                        Статьи
                    </button>
                    </a>
                    <a href="#">
                     <button class="btn btn-success "
                            type="button"
                            id="multiSelectDropdown"
                            aria-expanded="false"
                            style="">
                        О сайте
                    </button>
                    </a>

                    <div class="mainright">
                    <li class="last" >
                        <div class="d1">
                            <form action="{% url 'search' %}" method="get" class="search">
                                <input type="search" name="q" placeholder="Поиск..."
                                       required="">
                                <button type="submit" style="text-decoration: none;"></button>
                            </form>
                        </div>
                    </li>
                    {% if request.user.is_authenticated %}

                    <li class="last">{{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
                    {% else %}

                    <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a
                            href="{% url 'login' %}">Войти</a></li>
                    {% endif %}

                    </div>

                </ul>





                <div class="clear">



                    {% get_category as category %}

                    {% for cat in category %}
                    {% if cat.title == 'Прочее' %}
                    <a href="{% url 'product_list_cat' cat_slug=cat.url %}" class="btn"
                        aria-expanded="false">{{ cat.title }}</a>
                    {% else %}
                    <button class="btn dropdown-toggle" type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">{{ cat.title }}
                    </button>
                    <ul class="dropdown-menu" style="">

                        {% get_subtitle cat.id as subtitles %}
                        {% for subtitle in subtitles %}

                        <ul class="subtitle">
                            <a class="dropdown-item"
                               href="{% url 'product_list_sub' cat_slug=cat.url subtitle_slug=subtitle.url  %}">
                            {{subtitle.title}}:
                        </a>
                        </ul>

                        {% get_subsubtitle subtitle.id as subsubtitles %}
                        {% if subsubtitles %}
                        {% for subsubtitle in subsubtitles %}

                        <ul class="subsub"><a class="dropdown-item"
                               href="{% url 'product_list_subsub' cat_slug=cat.url subtitle_slug=subtitle.url subsub_slug=subsubtitle.url %}">
                            {{subsubtitle.title}}
                        </a>
                        </ul>

                        {% endfor %}

                        {% endif %}

                        {% endfor %}

                    </ul>
                    {% endif %}
                    {% endfor %}
                    <ul class="last-clear"><a href="{% url 'new_items' %}">Новинки</a></ul>
                    <ul class="last-clear"><a href="{% url 'hit_items' %}">Хиты</a></ul>
                </div>
            </div>
            {% endblock mainmenu %}

            <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" class="content">
                        <!-- Хлебные крошки -->
                        {% block breadcrumbs %}
                        {% endblock %}
                        <!-- Блок контента -->
                        <div class="content-text">
                            {% block content %}
                            {% endblock %}
                            {% if page_obj.has_other_pages %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{{q}}page={{ page_obj.previous_page_number }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for p in paginator.page_range %}
                                    {% if page_obj.number == p %}
                                    <li class="page-link" style="background: #f0f0f0">{{ p }}</li>
                                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{{q}}page={{ p }}">{{ p }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{{q}}page={{ page_obj.next_page_number }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                        <!-- Конец блока контента -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Footer -->
    <tr>
        <td valign=top>
            <div id="footer">
                <p>&copy; 2023 Частичное или полное копирование информации с данного сайта для распространения на других
                    ресурсах, в том числе и бумажных, строго запрещено.</p>
            </div>
        </td>
    </tr>

</table>
<script>
const burger = document.querySelector('.header__burger')
const classNameActive = 'active'
const classNameLock = 'lock'
const elements = [burger, document.querySelector('.clear')]

function toggleClass(elements, classNameActive, classNameLock) {
    elements.forEach(element => element.classList.toggle(classNameActive))
    document.querySelector('body').classList.toggle(classNameLock)
}

burger.onclick = () => toggleClass(elements, classNameActive, classNameLock)
</script>
<!-- Конец footer'а и страницы -->
<script src="{% static 'service/js/scripts.js' %}"></script>
</body>
</html>