{% extends 'service/base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}


<div style="background:#ffe7d9;">
    <center>
        <a href="{% url 'hit_items' %}"><h1>Хиты продаж</h1></a>
    </center>
    <div class="container-fluid">
        <div class="row g-0">
            {% for prod in products %}

            <div class="card mb-3" style="max-width: 450px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="{{ prod.get_absolute_url }}">
                            <img src="{{ prod.image.url }}" class="img-fluid rounded-start" alt="...">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="{{ prod.get_absolute_url }}" style="color:black;">
                                <h5 class="card-title">{{ prod.trademark }}</h5>
                                <h5 class="card-title">{{ prod.name }}</h5>
                            </a>
                            <p class="card-text" style="font-size:14px; line-height: 16px; color: #777; height: auto;">
                                {{ prod.cat }}</p>
                            <div class="form__itemm" style="">
                                <div class="form__labell"></div>
                                <div class="ratingg" style="">
                                    <div class="rating__bodyy_list">
                                        <div class="rating__activee_list"></div>
                                        <div class="rating__itemss">
                                            <input type="radio" class="rating__itemm" value="1" name="ratingg">
                                            <input type="radio" class="rating__itemm" value="2" name="ratingg">
                                            <input type="radio" class="rating__itemm" value="3" name="ratingg">
                                            <input type="radio" class="rating__itemm" value="4" name="ratingg">
                                            <input type="radio" class="rating__itemm" value="5" name="ratingg">
                                        </div>
                                    </div>
                                    {% if prod.avg_rating != 'None' %}
                                    <div class="rating__valuee" hidden="" style="font-size: 60%;">{{prod.avg_rating|floatformat:"-1"}}

                                    </div>
                                    {% else %}
                                    <div class="rating__valuee" hidden style="font-size: 60%;">0</div>
                                    {% endif %}
                                </div>
                                <div class="review_image_count">
                                    <img src="{% static 'service/images/review.png' %}"
                                         style="width: 25px; height: 17px;"
                                         alt="">
                                {% if prod.num_reviews is not None %}
                                    {{ prod.num_reviews }}
                                {% else %}
                                    0
                                {% endif %}


                                </div>
                                <div class="position-absolute bottom-0 end-0" style="">
                                    <a href="{{ prod.get_absolute_url }}" class="btn btn-primary">
                                        О товаре
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>


<div id="">
    <center>
        <a href="{% url 'new_items' %}"><h1>Новинки</h1></a>
    </center>

    <div class="container-fluid">
        <div class="row g-0">
            {% for prod in products_new %}
            <div class="card mb-3" style="max-width: 450px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="{{ prod.get_absolute_url }}">
                            <img src="{{ prod.image.url }}" class="img-fluid rounded-start" alt="...">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="{{ prod.get_absolute_url }}" style="color:black;">
                                <h5 class="card-title">{{ prod.trademark }}</h5>
                                <h5 class="card-title">{{ prod.name }}</h5>
                            </a>
                            <p class="card-text" style="font-size:14px; line-height: 16px; color: #777; height: auto;">
                                {{ prod.cat }}</p>
                            <div class="form__itemm " style="">
                                <div class="form__labell"></div>
                                <div class="ratingg" style="">
                                    <div class="rating__bodyy_list">
                                        <div class="rating__activee_list"></div>
                                        <div class="rating__itemss">
                                            <input type="radio" class="rating__itemm" value="1" name="ratingg">
                                            <input type="radio" class="rating__itemm" value="2" name="ratingg">
                                            <input type="radio" class="rating__itemm" value="3" name="ratingg">
                                            <input type="radio" class="rating__itemm" value="4" name="ratingg">
                                            <input type="radio" class="rating__itemm" value="5" name="ratingg">
                                        </div>
                                    </div>
                                    {% if prod.avg_rating != 'None' %}
                                    <div class="rating__valuee" hidden="" style="font-size: 60%;">{{prod.avg_rating|floatformat:"-1"}}

                                    </div>
                                    {% else %}
                                    <div class="rating__valuee" hidden style="font-size: 60%;">0</div>
                                    {% endif %}
                                </div>
                                <div class="review_image_count">
                                    <img src="{% static 'service/images/review.png' %}"
                                         style="width: 25px; height: 17px;"
                                         alt="">
                                {% if prod.num_reviews is not None %}
                                    {{ prod.num_reviews }}
                                {% else %}
                                    0
                                {% endif %}
                                </div>
                                <div class="position-absolute bottom-0 end-0" style="">
                                    <a href="{{ prod.get_absolute_url }}" class="btn btn-primary">
                                        О товаре
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% if not request.user.is_authenticated %}
<div style="text-align:center">
    <button type="button" class="btn btn-secondary btn-lg btn-block" style="width:450px;">
        <a href="{% url 'register' %}" style="text-decoration:none; color: white;">Присоединиться к нам</a></button>
</div>
{% endif %}

<div>
    <center>
        <h1><a href="{% url 'article_list' %}">Статьи</a></h1>
    </center>

    <div class="container-fluid">
        <div class="row g-0">
            {% for article in articles %}
            <div class="card" style="max-width: 450px;">
                <a href="{{ article.get_absolute_url }}"><img class="card-img-top" style="height:350px;"
                                                              src="{{ article.image.url }}" alt="Card image cap"></a>
                <div class="card-body">
                    <b><a href="{{ article.get_absolute_url }}" style="color:black; text-decoration: none;">
                        {{ article.title }}
                    </a></b>
                    {% autoescape on %}
                    <p class="card-text" style="font-size: 1rem;">
                        {{ article.description_1|linebreaks|truncatewords:15 }}
                    </p>
                    {% endautoescape %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    "use strict"
const ratings = document.querySelectorAll('.ratingg');
if (ratings.length > 0) {
    initRatings();
}

// base fun
function initRatings() {
    let ratingActive, ratingValue;
    for (let index = 0; index < ratings.length; index++) {
        const rating = ratings[index];
        initRating(rating);
    }

    function initRating(rating) {
        initRatingVars(rating);

        setRatingActiveWidth();
    }
    function initRatingVars(rating) {
        ratingActive = rating.querySelector('.rating__activee_list');
        ratingValue = rating.querySelector('.rating__valuee');
    }

    function setRatingActiveWidth(index = ratingValue.innerHTML) {
        const ratingActiveWidth = index / 0.05;
        ratingActive.style.width = `${ratingActiveWidth}%`;
    }
}




</script>

{% endblock %}
