{% extends 'service/base.html' %}

{% block content %}

<h6 style="margin-left:10px"><a href="/" style="text-decoration: none; color: black;">Главная</a> - {{ category_title }} - {{ subtitle_title }}
</h6>

<h1 style="margin-left:10px">{{ subtitle_title }}</h1>
<small style="margin-left:10px; color:grey; font-size:15px;"> колличество товаров: {{ products_count }}</small>

{% if category_title == 'Гель-лаки' %}
<form action="{% url 'filter' %}" method="get" >
    <div class="container" style="margin-left: 0;">
        <div class="dropdown">

            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black; width: 150px;" >
                КАТЕГОРИИ
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="multiSelectDropdown"
            style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for product in view.get_cats %}
                <li style="margin-left:10px;">
                      <label>
                        <input type="checkbox"
                               name="category"
                               value="{{ product.subsub__title }}">
                        {{ product.subsub__title }}
                    </label>
                </li>
                {% endfor %}
            </ul>

            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
             style="background:#cafcf9; color: black;  width: 150px;">
                БРЕНД
            </button>
            <ul class="dropdown-menu "
                aria-labelledby="multiSelectDropdown"
            style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for product in view.get_trademarks %}
                <li style="margin-left:10px;">
                      <label>
                        <input type="checkbox"
                               name="trademark"
                               value="{{ product.trademark }}">
                        {{ product.trademark }}
                    </label>
                </li>
                {% endfor %}
            </ul>

            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
             style="background:#cafcf9; color: black;  width: 150px; ">
            ЦВЕТ
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="multiSelectDropdown"
            style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for product in view.get_colors %}
                <li style="margin-left:10px;">
                      <label>
                        <input type="checkbox"
                               name="color"
                               value="{{ product.color }}">
                        {{ product.color }}
                    </label>
                </li>
                {% endfor %}
            </ul>

            <button class="btn btn-success"
                    type="submit"
                     style="background:#cafcf9; color: black;"
                    aria-expanded="false">
                НАЙТИ
            </button>

        </div>
    </div>

</form>
{% endif %}


<!--<form action="{% url 'filter' %}" method="get" name="filter">-->

<!--    <label for="category"></label>-->
<!--    <select id="category" name="category">-->
<!--         <option value="">Категория</option>-->
<!--        {% for product in view.get_cats %}-->
<!--        <option value="{{ product.subsub__title }}">{{ product.subsub__title }}</option>-->
<!--        {% endfor %}-->
<!--    </select>-->

<!--    <label for="filter"></label>-->
<!--    <select id="filter" name="trademark">-->
<!--        <option value="">Бренд</option>-->
<!--        {% for product in view.get_trademarks %}-->
<!--        <option value="{{ product.trademark }}">{{ product.trademark }}</option>-->
<!--        {% endfor %}-->
<!--    </select>-->

<!--    <label for="filter"></label>-->
<!--    <select id="filter" name="color">-->
<!--        <option value="">Цвет</option>-->
<!--        {% for product in view.get_colors %}-->
<!--        <option value="{{ product.color }}">{{ product.color }}</option>-->
<!--        {% endfor %}-->
<!--    </select>-->

<!--    <label for="filter"></label>-->
<!--    <select id="filter" name="country">-->
<!--        <option value="">Страна</option>-->
<!--        {% for product in view.get_countrys %}-->
<!--        <option value="{{ product.country }}">{{ product.country }}</option>-->
<!--        {% endfor %}-->
<!--    </select>-->

<!--    <button type="submit">Найти</button>-->
<!--</form>-->


<div class="container-fluid" style="margin-top:30px;">
    <div class="row g-0">
        {% for prod in products %}
        <div class="card " style="width: 21rem; height: 34rem;">
            <img class="card-img-top" src="{{ prod.image.url }}">
            <div class="card-body">
                <h5 class="card-title" style="font-family: 'Nunito',sans-serif; font-size:16px;">
                    {{ prod.trademark }}, {{ prod.name }}, {{ prod.volume }}</h5>
                <p class="card-text" style="font-size:14px; line-height: 16px; color: #777; height: auto;">
                    {{ prod.cat }} - {{ prod.subsub.title }}
                </p>
                <a href="{{ prod.get_absolute_url }}" class="btn btn-primary position-absolute bottom-0 end-0">
                    О товаре</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}