{% extends 'service/base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block head %}
<link type="text/css" href="{% static 'service/css/detail.css' %}" rel="stylesheet"/>

{% endblock head %}

{% block content %}


<section class="product">
    <div class="product__photo">
        <img src="{{ product.image.url }}" alt="">

        <div class="form__itemm">
            <center>
                <div class="form__labell"></div>

                <div class="ratingg" style="">
                    <b>Рейтинг:</b>
                    <div class="rating__bodyy">
                        <div class="rating__activee"></div>
                        <div class="rating__itemss">
                            <input type="radio" class="rating__itemm" value="1" name="ratingg">
                            <input type="radio" class="rating__itemm" value="2" name="ratingg">
                            <input type="radio" class="rating__itemm" value="3" name="ratingg">
                            <input type="radio" class="rating__itemm" value="4" name="ratingg">
                            <input type="radio" class="rating__itemm" value="5" name="ratingg">
                        </div>
                    </div>
                    {% if product.average_rating != 'None' %}
                    <div class="rating__valuee">{{ product.average_rating }}</div>
                    {% else %}
                    <div class="rating__valuee" hidden>0</div>
                    {% endif %}
                </div>
            </center>

            <script>

            </script>

        </div>


        <div class="product-reviews">
            <h3>Оставить отзыв ({{ product.reviews_set.count }}) </h3>
            {% if request.user.is_authenticated %}
            <form action="{% url 'add_review' product.id %}" method="post" class="mt-4" id="formReview">

                {% csrf_token %}
                <input type="hidden" name="parent" id="contactparent" value="">
                <div class="form-group editContent">
                    <label for="contactcomment" class="editContent">
                        Ваш комментарий *
                    </label>
                    <textarea class="form-control border" rows="5" name="text"
                              id="contactcomment" required=""></textarea>
                </div>

                <div class="d-sm-flex">
                    <div class="col-sm-6 form-group p-0 editContent">
                        <input type="hidden" class="form-control border" name="name"
                               id="contactusername" required="" value="{{ request.user.username }}">
                    </div>
                    <div class="col-sm-6 form-group ml-sm-3 editContent">
                        <input type="hidden" class="form-control border" name="email"
                               id="contactemail" required="" value="{{ request.user.email }}">
                    </div>
                </div>

                <button type="submit"
                        class="mt-3 btn btn-success btn-block py-3">
                    Отправить
                </button>
            </form>
            {% else %}

            <form action="{% url 'add_review' product.id %}" method="post" class="mt-4 my-5" id="formReview">

                {% csrf_token %}
                <input type="hidden" name="parent" id="contactparent" value="">
                <div class="form-group editContent">
                    <label for="contactcomment" class="editContent">
                        Ваш комментарий *
                    </label>
                    <textarea class="form-control border" rows="5" name="text"
                              id="contactcomment" required=""></textarea>
                </div>
                <small for="contactcomment" style="color: #a6a6a6;   font-size: 0.7em; ">
                    Для отправки отзыва, зарегистрируйтесь.
                </small>

                <a href="{% url 'register' %}" class="btn" style="color:white; font-size:17px; overflow: hidden;
                height: 40px; background:#3b0b0b; border:none; padding-bottom:5px;">Регистрицая</a>

                {% endif %}

                <div style="padding-top:30px;">
                    {% for review in product.get_review %}
                    <div class="media py-0">
                        <img src="{% static 'service/images/инкогнито.jpg' %}" align="left"
                             style="width: 70px; height: 60px;"
                             class="mr-3 img-fluid" alt="image">
                        <div class="media-body mt-4" style="margin: 0 0 0 80px!important;">
                            <h5 class="mt-0 editContent">
                                {{ review.name }}
                            </h5>
                            <p class="mt-2 editContent">
                                {{ review.text }}
                            </p>
                            <a href="#formReview"
                               onclick="addReview('{{ review.name }}', '{{ review.id }}')">Ответить</a>
                            {% for rew in review.reviews_set.all %}
                            <div class="media mt-5 editContent">
                                <a class="pr-3" href="#">
                                    <img src="{% static 'service/images/инкогнито.jpg' %}" align="left"
                                         style="width: 70px; height: 60px;" class="img-fluid " alt="image">
                                </a>
                                <div class="media-body" style="margin: 0 0 0 80px!important;">
                                    <h5 class="mt-0 editContent">{{ rew.name }}</h5>
                                    <p class="mt-2 editContent">{{ rew.text }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>

        </div>
    </div>

    <div class="product__info">
        <div class="title">
            <h1>{{ product.trademark }}, {{ product.name }}</h1>

            {% if request.user.is_authenticated %}
            <form action="{% url 'add_rating' %}" method="post" name="rating">
                <b>Ваш рейтинг:</b>
                {% csrf_token %}
                <input type="hidden" value="{{ product.id }}" name="product">
                <span class="rating">
            {% for k, v in star_form.fields.star.choices %}
                <input id="rating{{ v }}" type="radio" name="star"
                       value="{{ k }}">
                <label for="rating{{ v }}">{{ k }}</label>
            {% endfor %}
            </span>
                {% if product.average_rating != 'None' %}
                <span class="editContent">{{ product.average_rating }}</span>
                {% endif %}
            </form>
            {% else %}
            <form action="{% url 'add_rating' %}" method="post" name="rating">
                <b><a href="{% url 'login' %}" style=" color: black;">Aвторизуйтесь</a></b>
                {% csrf_token %}
                <input type="hidden" value="{{ product.id }}" name="product">
                <span class="rating">
            {% for k, v in star_form.fields.star.choices %}
                <input id="rating{{ v }}" type="radio" name="star"
                       value="{{ k }}">
                <label for="rating{{ v }}">{{ k }}</label>
            {% endfor %}
            </span>
                {% if product.average_rating != 'None' %}
                <span class="editContent">{{ product.average_rating }}</span>
                {% endif %}
            </form>
            {% endif %}

            <script>
        function addReview(name, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("contactcomment").innerText = `${name}, `
        }



            </script>

        </div>
        <div class="product-specs">
            <h3>Основные характеристики</h3>
            <table>
                <tbody>
                <tr>
                    <td class="name"><span>Цвет</span></td>
                    <td class="cur">{{ product.color }}</td>
                </tr>
                <tr>
                    <td class="name"><span>Объем</span></td>
                    <td class="cur">{{ product.volume }} мл</td>
                </tr>
                <tr>
                    <td class="name"><span>Производство</span></td>
                    <td class="cur">{{ product.country }}</td>
                </tr>
                <tr>
                    <td class="name"><span>Где купить</span></td>
                    <td class="cur"><a href="#">{{ product.where_buy }}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="product-details-table">
            <div class="button-detail" style="background: #f0f0f0">
                <button class="active" onclick="toggleTab('description')">Описание</button>
                <button onclick="toggleTab('composition')">Состав</button>
            </div>

            <div id="description" class="tab active">
                <p>{{ product.description }}</p>
            </div>
            <div id="composition" class="tab">
                <p>{{ product.compound }}</p>

            </div>
            <script>
function toggleTab(tabName) {
  var tabs = document.getElementsByClassName("tab");
  for (var i = 0; i < tabs.length; i++) {
    tabs[i].classList.remove("active");
  }
  var button = document.querySelector("button.active");
  button.classList.remove("active");
  document.getElementById(tabName).classList.add("active");
  event.currentTarget.classList.add("active");
}

            </script>

        </div>
        <div class="product-specs">
            <h3>Дополнительные характеристики</h3>
            <table>
                <tbody>
                <tr>
                    <td class="name"><span>Плотность</span></td>
                    <td class="cur">{{ product.density }}</td>
                </tr>
                <tr>
                    <td class="name"><span>Эффект</span></td>
                    <td class="cur">{{ product.effect }}</td>
                </tr>
                <tr>
                    <td class="name"><span>Консистенция</span></td>
                    <td class="cur">{{ product.consistency }}</td>
                </tr>
                <tr>
                    <td class="name"><span>Жесткость</span></td>
                    <td class="cur">{{ product.rigidity }}</td>
                </tr>
                <tr>
                    <td class="name"><span>Оттенок</span></td>
                    <td class="cur">{{ product.shade }}</td>
                </tr>
                <tr>
                    <td class="name"><span>Коллекция</span></td>
                    <td class="cur">{{ product.collection }}</td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>
</section>


<script>
    const rating = document.querySelector('form[name=rating]');

rating.addEventListener("change", function (e) {
    // Получаем данные из формы
    let data = new FormData(this);
    fetch(`${this.action}`, {
        method: 'POST',
        body: data
    })
        .then(response => alert("Рейтинг установлен"))
        .catch(error => alert("Ошибка"))
});
</script>

<script>

    "use strict"
const ratings = document.querySelectorAll('.ratingg');
if (ratings.length > 0) {
    initRatings();
}

// base fun
function initRatings() {
    let ratingActive, ratingValue;
    for (let index = 0; index < ratings.length; index++) {
        const rating = ratings[index];
        initRating(rating);
    }

    function initRating(rating) {
        initRatingVars(rating);

        setRatingActiveWidth();
    }
    function initRatingVars(rating) {
        ratingActive = rating.querySelector('.rating__activee');
        ratingValue = rating.querySelector('.rating__valuee');
    }

    function setRatingActiveWidth(index = ratingValue.innerHTML) {
        const ratingActiveWidth = index / 0.05;
        ratingActive.style.width = `${ratingActiveWidth}%`;
    }
}
</script>

{% endblock %}

