{% extends 'service/base.html' %}
{% load static %}

{% block content %}
{% if subtitle_title %}
<h6 style="margin-left:10px"><a href="/" style="text-decoration: none; color: black;">Главная</a> - {{ category_title }}
    - {{ subtitle_title }}
</h6>

<h1 style="margin-left:10px">{{ subtitle_title }}</h1>
<small style="margin-left:10px; color:grey; font-size:15px;"> колличество товаров: {{ products_count }}</small>
{% else %}
<h6 style="margin-left:10px"><a href="/" style="text-decoration: none; color: black;">Главная</a>
</h6>

<h1 style="margin-left:10px">{{ category_title }}</h1>
<small style="margin-left:10px; color:grey; font-size:15px;"> колличество товаров: {{ products_count }}</small>
{% endif%}


{% if category_title == 'Гель-лаки' or category_title == 'Наращивание и моделирование' or category_title == 'Dip система' %}
<form action="{% url 'filter'  %}" method="get">
    <div class="container" style="margin-left: 0;">
        <div class="dropdown">

            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black; width: 150px;">
                ОБЪЁМ
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="multiSelectDropdown"
                style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for volume in view.get_volumes %}
                {% if volume %}
                <li style="margin-left:10px;">
                    <label>
                        <input type="checkbox"
                               name="volume"
                               value="{{ volume }}">
                        {{ volume }}
                    </label>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black;  width: 150px;">
                БРЕНД
            </button>
            <ul class="dropdown-menu "
                aria-labelledby="multiSelectDropdown"
                style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for trademark in view.get_trademarks %}
                <li style="margin-left:10px;">
                    <label>
                        <input type="checkbox"
                               name="trademark"
                               value="{{ trademark }}">
                        {{ trademark }}
                    </label>
                </li>
                {% endfor %}
            </ul>

            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black;  width: 150px; ">
                ЦВЕТ
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="multiSelectDropdown"
                style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for color in view.get_colors %}
                {% if color %}
                <li style="margin-left:10px;">
                    <label>
                        <input type="checkbox"
                               name="color"
                               value="{{ color }}">
                        {{ color }}
                    </label>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <button class="btn btn-success"
                    type="submit"
                    style="background:#cafcf9; color: black;"
                    aria-expanded="false">
                НАЙТИ
            </button>

        </div>
    </div>

</form>


{% elif category_title == 'Дизайн ногтей' or category_title == 'Оборудование'%}
<form action="{% url 'filter' %}" method="get">
    <div class="container" style="margin-left: 0;">
        <div class="dropdown">


            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black;  width: 150px;">
                БРЕНД
            </button>
            <ul class="dropdown-menu "
                aria-labelledby="multiSelectDropdown"
                style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for trademark in view.get_trademarks %}
                <li style="margin-left:10px;">
                    <label>
                        <input type="checkbox"
                               name="trademark"
                               value="{{ trademark }}">
                        {{ trademark }}
                    </label>
                </li>
                {% endfor %}
            </ul>

            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black;  width: 150px; ">
                ЦВЕТ
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="multiSelectDropdown"
                style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for color in view.get_colors %}
                {% if color %}
                <li style="margin-left:10px;">
                    <label>
                        <input type="checkbox"
                               name="color"
                               value="{{ color }}">
                        {{ color }}
                    </label>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <button class="btn btn-success"
                    type="submit"
                    style="background:#cafcf9; color: black;"
                    aria-expanded="false">
                НАЙТИ
            </button>

        </div>
    </div>

</form>


{% elif category_title == 'Уход за кожей' %}
<form action="{% url 'filter' %}" method="get">
    <div class="container" style="margin-left: 0;">
        <div class="dropdown">


            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black;  width: 150px;">
                БРЕНД
            </button>
            <ul class="dropdown-menu "
                aria-labelledby="multiSelectDropdown"
                style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for trademark in view.get_trademarks %}
                <li style="margin-left:10px;">
                    <label>
                        <input type="checkbox"
                               name="trademark"
                               value="{{ trademark }}">
                        {{ trademark }}
                    </label>
                </li>
                {% endfor %}
            </ul>

            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black;  width: 150px; ">
                ДЛЯ ЧЕГО
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="multiSelectDropdown"
                style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for for_what in view.get_for_whats %}
                {% if for_what not in 'default' %}
                <li style="margin-left:10px;">
                    <label>
                        <input type="checkbox"
                               name="for_what"
                               value="{{ for_what }}">
                        {{ for_what }}
                    </label>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <button class="btn btn-success"
                    type="submit"
                    style="background:#cafcf9; color: black;"
                    aria-expanded="false">
                НАЙТИ
            </button>

        </div>
    </div>

</form>


{% elif category_title == 'Инструменты' %}
<form action="{% url 'filter' %}" method="get">
    <div class="container" style="margin-left: 0;">
        <div class="dropdown">


            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black;  width: 150px;">
                БРЕНД
            </button>
            <ul class="dropdown-menu "
                aria-labelledby="multiSelectDropdown"
                style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for trademark in view.get_trademarks %}
                <li style="margin-left:10px;">
                    <label>
                        <input type="checkbox"
                               name="trademark"
                               value="{{ trademark }}">
                        {{ trademark }}
                    </label>
                </li>
                {% endfor %}
            </ul>

            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black;  width: 150px; ">
                ДЛЯ ЧЕГО
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="multiSelectDropdown"
                style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for for_what_tools in view.get_for_what_tools %}
                {% if for_what_tools not in 'default' %}
                <li style="margin-left:10px;">
                    <label>
                        <input type="checkbox"
                               name="for_what_tools"
                               value="{{ for_what_tools }}">
                        {{ for_what_tools }}
                    </label>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <button class="btn btn-success"
                    type="submit"
                    style="background:#cafcf9; color: black;"
                    aria-expanded="false">
                НАЙТИ
            </button>

        </div>
    </div>

</form>


{% elif category_title == 'Прочее' %}
<form action="{% url 'filter' %}" method="get">
    <div class="container" style="margin-left: 0;">
        <div class="dropdown">


            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black;  width: 150px;">
                БРЕНД
            </button>
            <ul class="dropdown-menu "
                aria-labelledby="multiSelectDropdown"
                style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for trademark in view.get_trademarks %}
                <li style="margin-left:10px;">
                    <label>
                        <input type="checkbox"
                               name="trademark"
                               value="{{ trademark }}">
                        {{ trademark }}
                    </label>
                </li>
                {% endfor %}
            </ul>

            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black;  width: 150px; ">
                ДЛЯ ЧЕГО
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="multiSelectDropdown"
                style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for for_what in view.get_for_whats %}
                {% if for_what not in 'default' %}
                <li style="margin-left:10px;">
                    <label>
                        <input type="checkbox"
                               name="for_what"
                               value="{{ for_what }}">
                        {{ for_what }}
                    </label>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    id="multiSelectDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    style="background:#cafcf9; color: black;  width: 150px; ">
                ЦВЕТ
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="multiSelectDropdown"
                style=" max-height:350px; overflow:auto; width: 250px; background:#cafcf9;">

                {% for color in view.get_colors %}
                {% if color %}
                <li style="margin-left:10px;">
                    <label>
                        <input type="checkbox"
                               name="color"
                               value="{{ color }}">
                        {{ color }}
                    </label>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <button class="btn btn-success"
                    type="submit"
                    style="background:#cafcf9; color: black;"
                    aria-expanded="false">
                НАЙТИ
            </button>

        </div>
    </div>

</form>
{% endif %}


<div class="container-fluid" style="margin-top:30px;">
    <div class="row g-0">
        {% for prod in products %}
        {% if category_title == 'Уход за кожей' or category_title == 'Инструменты' %}
        <div class="card " style="width: 21rem; height: 34rem;">
            <img class="card-img-top" src="{{ prod.image.url }}">
            <div class="card-body">
                <h5 class="card-title" style="font-family: 'Nunito',sans-serif; font-size:16px;">
                    {{ prod.trademark }}, {{ prod.name }}</h5>
                <p class="card-text" style="font-size:14px; line-height: 16px; color: #777; height: auto;">
                    {{ prod.cat }} - {{ prod.subsub.title }}
                </p>
                <p class="position-absolute bottom-0 end-0">
                    <img src="{% static 'service/images/review.png' %}" style="width: 25px; height: 17px;" alt="">
                    {{ prod.reviews_set.count }}
                <a href="{{ prod.get_absolute_url }}" class="btn btn-primary">
                    О товаре</a></p>
            </div>
        </div>
        {% elif category_title == 'Прочее' %}
        <div class="card " style="width: 21rem; height: 34rem;">
            <img class="card-img-top" src="{{ prod.image.url }}">
            <div class="card-body">
                <h5 class="card-title" style="font-family: 'Nunito',sans-serif; font-size:16px;">
                    {{ prod.trademark }}, {{ prod.name }}</h5>
                <p class="card-text" style="font-size:14px; line-height: 16px; color: #777; height: auto;">
                    {{ prod.cat }}
                </p>
                <p class="position-absolute bottom-0 end-0">
                    <img src="{% static 'service/images/review.png' %}" style="width: 25px; height: 17px;" alt="">
                    {{ prod.reviews_set.count }}
                <a href="{{ prod.get_absolute_url }}" class="btn btn-primary">
                    О товаре</a></p>
            </div>
        </div>

        {% else %}
        <div class="card " style="width: 21rem; height: 34rem;">

            <img class="card-img-top" src="{{ prod.image.url }}">
            <div class="card-body">
                <h5 class="card-title" style="font-family: 'Nunito',sans-serif; font-size:16px;">
                    {{ prod.trademark }}, {{ prod.name }}, {{ prod.color}}</h5>
                <p class="card-text" style="font-size:14px; line-height: 16px; color: #777; height: auto;">
                    {{ prod.cat }} - {{ prod.subsub.title }}
                </p>
                <p class="position-absolute bottom-0 end-0">
                    <img src="{% static 'service/images/review.png' %}" style="width: 25px; height: 17px;" alt="">
                    {{ prod.reviews_set.count }}
                <a href="{{ prod.get_absolute_url }}" class="btn btn-primary">
                    О товаре</a></p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}