{% extends 'service/base.html' %}
{% load static %}

{% block head %}
<link type="text/css" href="{% static 'service/css/login.css' %}" rel="stylesheet"/>
{% endblock head %}

{% block content %}

<div class="agree">
    <h1>Пользовательское соглашение</h1>

    <p>Добро пожаловать на наш веб-сайт! Прежде чем продолжить использование нашего сервиса, пожалуйста, ознакомьтесь с нашим пользовательским соглашением.</p>

    <h2>1. Общие положения</h2>
    <p>1.1. Настоящее пользовательское соглашение (далее - "Соглашение") устанавливает условия использования нашего веб-сайта.</p>
    <p>1.2. Пользовательское соглашение может быть изменено без предварительного уведомления пользователя. Рекомендуется периодически проверять наличие изменений.</p>
    <p>1.3. Продолжая использовать наш веб-сайт, вы подтверждаете свое согласие с условиями настоящего Соглашения.</p>

    <h2>2. Регистрация</h2>
    <p>2.1. Для использования определенных функций нашего веб-сайта требуется регистрация.</p>
    <p>2.2. При регистрации необходимо предоставить достоверные и актуальные данные.</p>
    <p>2.3. Вы несете ответственность за сохранность своих учетных данных и пароля.</p>

    <h2>3. Конфиденциальность</h2>
    <p>3.1. Мы обязуемся обеспечить конфиденциальность ваших персональных данных в соответствии с действующим законодательством.</p>
    <p>3.2. Мы используем ваши персональные данные только для целей, указанных в нашей Политике конфиденциальности.</p>

    <h2>4. Отказ от ответственности</h2>
    <p>4.1. Мы не несем ответственности за любые убытки или повреждения, возникшие в результате использования нашего веб-сайта.</p>
    <p>4.2. Мы не гарантируем бесперебойную и безошибочную работу веб-сайта.</p>
    <p>4.3. Мы оставляем за собой право изменять или прекращать предоставление сервиса без предварительного уведомления.</p>

    <h2>5. Заключительные положения</h2>
    <p>5.1. Настоящее Соглашение является юридически обязывающим документом.</p>
    <p>5.2. В случае возникновения споров, связанных с использованием нашего веб-сайта, применяется действующее законодательство.</p>

    <p>Пожалуйста, внимательно ознакомьтесь с нашим пользовательским соглашением и только после этого продолжайте использование нашего сервиса.</p>
</div>
{% endblock %}