{% extends 'service/base.html' %}
{% load static %}

{% block head %}
<link type="text/css" href="{% static 'service/css/login.css' %}" rel="stylesheet"/>
{% endblock head %}

{% block content %}






<div class="overlay">
<form class="formm" method="post">
        {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
   <div class="con">
   <header class="head-form">
      <h3>Восстановление пароля</h3>
   </header>
   <br>
   <div class="field-set">
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

      <button type="submit" class="log-in">Отправить</button>
   </div>

  </div>
</form>
</div>


<script src="{% static 'service/js/login.js' %}"></script>
{% endblock %}